# IDE
.idea/
.vscode/

# Composer
vendor/
composer.lock

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# PHPStan
phpstan.neon

# PHP-CS-Fixer
.php-cs-fixer.php
.php-cs-fixer.cache

# Examples
examples/**/rrd/

# OS
.DS_Store
